<header class="bg-white text-gray-900 shadow-md dark:bg-gray-800 dark:text-white">
  <div class="flex items-center justify-between px-4 py-1">
    <div class="flex items-center">
      <h1 class="text-xl font-semibold text-blue-700 font-sans">PPDO-AR</h1>
    </div>

    <!-- Dark Mode Toggle Button -->
<!--    <button-->
<!--      (click)="toggleDarkMode()"-->
<!--      class="p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-700"-->
<!--      [title]="isDarkMode ? 'Light mode' : 'Dark mode'"-->
<!--    >-->
<!--      <fa-icon-->
<!--        [icon]="isDarkMode ? faSun : faMoon"-->
<!--        class="text-gray-600 dark:text-gray-300"-->
<!--      ></fa-icon>-->
<!--    </button>-->

    <div class="relative flex items-center">

      <span class="pr-4 ml-4 font-semibold text-gray-600 dark:text-gray-300">{{ currentTime }}</span>

      <div
        class="flex items-center space-x-2 cursor-pointer hover:bg-gray-100 px-2 py-1 rounded-md"
        (click)="toggleMenu()"
      >
        <fa-icon [icon]="faUserCircle" class="text-gray-600 text-2xl"></fa-icon>
        <span class="text-gray-700">{{ currentUser?.name || 'User' }}</span>
      </div>

      <!-- Dropdown Menu -->
      <div
        *ngIf="menuOpen"
        class="absolute right-0 mt-2 w-40 bg-white border rounded-lg shadow-lg z-10 "
        style="top: 85%;"
      >
        <a
          routerLink="/profile"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          (click)="closeMenu()"
        >
          Profile
        </a>
        <button
          class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          (click)="logout()"
        >
          Logout
        </button>
      </div>

    </div>

  </div>
</header>
